.text-link {
    color: var(--accent);
    font-size: 13px;
    position: relative;
}

.text-link::after{
    content: "";
    position: absolute;
    height: 1px;
    background: var(--accent);
    width: 100%;
    bottom: -1px;
}